@use "../base/" as *;

@mixin box($size){
    width: $size;
    height: $size;
}

@mixin center-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin button{
    @include mobile{
        @include box(5rem);
        font-size: 1rem;
    }
    @include desktop{
        @include box(5rem);
    }
    @include center-box;
    border-radius: 50%;
    cursor: pointer;
}

@mixin mobile {
    @media (max-width: #{$breakpoint - 1px}) {
        @content;
    }
}

@mixin desktop{
    @media (min-width: $breakpoint){
        @content;
    }
}