@use "@styles/" as *;

.Header{
    width: 100%;
    height: $header-height;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .home{
        font-size: 2rem;
        font-weight: bold;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
    .setting{
        @include center-box();
        font-size: 1.5rem;
        cursor: pointer;
        text-decoration: none;
        color: inherit;
    }
}
