@use '@styles/' as *;

.Palette{
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include desktop{
        gap: 1rem;
    }
    @include mobile{
        gap: 0.3rem
    }
    span{
        @include desktop{
            @include box(3rem);
        }
        @include mobile{
            @include box(1.5rem);
        }
        border: 2px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        &.black{
            background-color: black;
        }
        &.white{
            background-color: white;
        }
        &.red{
            background-color: red;
        }
        &.orange{
            background-color: orange;
        }
        &.yellow{
            background-color: yellow;
        }
        &.green{
            background-color: green;
        }
        &.blue{
            background-color: blue;
        }
        &.indigo{
            background-color: indigo;
        }
        &.purple{
            background-color: purple;
        }
    }
}