@use "@styles/" as *;

.Footer{
    width: 100%;
    height: $footer-height;
    position: fixed;
    top: calc(100vh - $footer-height);
    left: 0;
    @include center-box;
    div{
        width: 50%;
        height: 100%;
        @include center-box;
        flex-direction: column;
        background-color: $grey;
        text-decoration: none;
        cursor: pointer;
        &.active{
            color: $blue;
            background-color: inherit;
        }
        *{
            color: inherit;
            background-color: inherit;
        }
    }
}