@use "../../styles/" as *;

.Setting{
    @include center-box;
    flex-direction: column;
    gap: 3rem;
    padding-top: $header-height;
    height: 100vh;
    width: 100%;
    @include desktop{
        font-size: 3rem;
    }
    @include mobile{
        font-size: 2rem;
    }
    .oneSetting{
        @include center-box;
        flex-direction: column;
        height: 25%;
        width: 80%;
        display: flex;
        gap: 0.5rem;
        @include desktop{
            padding: 0 2rem;
        }
        p{
            font-weight: bold;
        }
        div{
            font-weight: bold;
            gap: 1rem;
        }
    }
}