$black: #000;
$white: #fff;
$grey: #4e5968;

$red: #d22030;
$orange: #f57800;
$light-orange: #ffbd51;
$yellow: #faa131;
$green: #029359;
$blue: #1b64da;
$light-blue: #90c2ff;
$indigo: #265ab3;
$purple: #8222a2;
